body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-image: url("https://cdn.pixabay.com/photo/2016/03/27/23/00/weight-lifting-1284616_1280.jpg"); 
    background-blend-mode: multiply;
    background-repeat: no-repeat;
    background-size: cover;
    color: #fff;
    background-color: steelblue;
    width: auto;
    height: auto;
       
}

.active{
    padding-right: 30px; font-weight: 1000; color: #f1b126;
}
.join{
    padding-left: 30px; font-weight: 1000; color: #f1b126;
}
.programs{
    font-weight: 1000; color: #f1b126;
}

button {
    color: #000; 
}

.navbar{
    background-color:rgb(20, 9, 9); opacity: 0.5;
    text-align: right;
    font-size: 20px;
    padding: 10px 80px 10px 10px;
    color: burlywood;
   /* margin: 30px; */    
}

.mid-box{
    display: flex;
}





.form-right{
    padding: 10px 100px 40px 50px; 
    background-color:rgb(20, 9, 9); opacity: 0.5; width: 300px;
    border: white 1px dotted;
    border-radius: 10px;
    margin: 100px 100px 100px 375px; 
      
    flex-basis: 75%;
}

.WelcomeMessage-left{
    padding: 100px 0 100px 100px;
    display: inline;
    flex-basis: 25%;
    font-size: 50px;
    margin-left: 100px;
    
}

.new{
    padding: 0 200px 0 200px;
    margin-left: 200px;
    color: #f1b126;
    font-size: 20px;
}

footer{
    padding: 200px 0 50px 1300px;
    color: rgb(145, 139, 229);
}